*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --color-pink: hsl(322, 100%, 66%);
    --color-cyan-pale: hsl(193, 100%, 96%);
    --color-cyan-dark: hsl(192, 100%, 9%);
    --color-grayish-blue: hsl(208, 11%, 55%);

    --font-heading: "Poppins", sans-serif;
    --font-body: "Open Sans", sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: var(--font-heading);
}

.item__box:nth-child(even) .item__text {
    grid-column: 3 / 4;
}

.item__box:nth-child(even) .item__body {
    width: 80%;
}

.item__box:nth-child(even) .item__cover {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: start;
}

@media only screen and (max-width: 1050px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 650px) {
    .item__box:nth-child(even) .item__text {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .item__box:nth-child(even) .item__body {
        display: inline-block;
    }

    .item__box:nth-child(even) .item__cover {
        width: 50%;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        justify-self: center;
    }
}
