.cta__box {
    display: flex;
    justify-content: center;
}

.cta {
    width: 60rem;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px #0000002d;
    padding: 3rem 6rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 1rem;
    margin-bottom: -6rem;
    position: relative;
    z-index: 2;
}

.cta h1 {
    align-self: center;
}
